{% extends 'base.html' %} {% block title %} Home {% endblock title %} {% block homeactive %} active {% endblock homeactive %} {% block body %}

<div class="jumbotron">
    <blockquote class="blockquote text-center">
        <p class="mb-0">Talk is cheap, show me the code.</p>
        <footer class="blockquote-footer">Linus Torvalds-<cite title="Source Title">Founder of linux OS, Developer.</cite></footer>
    </blockquote>
    <!-- <h1 class="display-4">Hello Coders</h1>
    <p class="lead">We have a designed simple courses for the newbies,who want to learn coding. </p>
    <hr class="my-4">
    <p>We have a full roadmap for programming languages for you!</p>
    <a class="btn btn-primary btn-lg" href="/blog" role="button">Explore more post.</a> -->
</div>

<div class="container">
    <div class="py-2 text-center">
        <h2>Checkout our featured post.</h2>
        <br>
        <div class="card-group">

            <!-- PYTHON TUTORIAL -->

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row">
                    <div class="col-md-4">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Python.svg/1200px-Python.svg.png" class="card-img" alt="python image ">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Python tutorial for absolute beginners.</h5>
                            <p class="card-text">In this course we will teach you from OOP(Object-Oriented Programming).
                            </p>
                            <p class="card-text"><small class="text-muted">Last updated 10 mins ago</small></p>
                            <a href="/pythontut" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Go
                                to course?</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- DJANGO TUTORIAL  -->

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row">
                    <div class="col-md-4">
                        <img src="https://avatars1.githubusercontent.com/u/27804?s=400&v=4" class="card-img" alt="Django image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Django tutorial for absolute beginners.</h5>
                            <p class="card-text">In this course we will build a website and its responsive too.</p>
                            <p class="card-text"><small class="text-muted">Last updated 13 mins ago</small></p>
                            <a href="/djtut" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Go
                                to course?</a>
                        </div>
                    </div>
                </div>
            </div>


            <!-- second row of home -->

            <!-- git for beginners -->

        </div>
        <div class="card-group">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://blog.internshala.com/wp-content/uploads/2020/11/What-is-Git-and-GitHub.png" class="card-img" alt="git image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <a href="/blog" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Go
                                to course?</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- METASPLOIT FOR ANDROID  -->

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMsKsV242Sl0bBX1O5s7Yz1wZDEiOZYDoJ_A&usqp=CAU" class="card-img" alt="metasploit">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <a href="/blog" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Go
                                to course?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-2 text-left">
        <p>
            <h2>So,what's programming?</h2>
            <p class="p__1qg33Igem5pAgn4kPMirjw">Put simply, programming is giving a set of instructions to a computer to execute. If you’ve ever cooked using a recipe before, you can think of yourself as the computer and the recipe’s author as a programmer. The recipe author provides you
                with a set of instructions which you read and then follow. The more complex the instructions, the more complex the result! </p>
        </p>
    </div>
    <img src="https://devskiller.com/wp-content/uploads/2020/07/History-of-programming-languages.jpg" class="img-fluid" style="width: 1000px; height: 500px;" alt="Responsive image">
    <br>
    <div class="md-5 text-left">
        <!-- <h6>This is how PROGRAMMING looks!!!</h6> -->
        <small>
            <h6>This is how PROGRAMMING looks like, its HTML(Hypertext Markup language) language used front-end in
                Web-development.</h6>
        </small>
    </div>
    <div class="py-2 text-left">
        <h2>So,which programming language is the best language to learn first?</h2>
        <br>
        <small>
            <h3>Python</h3>
            <br>
            <p class="lead">
                Python is an interpreted, object-oriented, high-level programming language with dynamic semantics.
                Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it
                very attractive for Rapid Application Development, as well as for use as a scripting or glue
                language to connect existing components together. Python's simple, easy to learn syntax emphasizes
                readability and therefore reduces the cost of program maintenance. Python supports modules and
                packages, which encourages program modularity and code reuse. The Python interpreter and the
                extensive standard library are available in source or binary form without charge for all major
                platforms, and can be freely distributed.
            </p>
        </small>

    </div>
</div>







{% endblock body %}