{% extends 'base.html' %} {% block title %} Home {% endblock title %} {% block homeactive %} active {% endblock homeactive %} {% block body %}

<div class="jumbotron">
    <h1 class="display-4">Hello Coders</h1>
    <p class="lead">We have a designed simple courses for the newbies,who want to learn coding. </p>
    <hr class="my-4">
    <p>We have a full roadmap for programming languages for you!</p>
    <a class="btn btn-primary btn-lg" href="/blog" role="button">Explore more post.</a>
</div>

<div class="container">
    <div class="py-5 text-center">
        <h2>Checkout our featured post.</h2>

        <div class="card text-center">
            <div class="card-header">

            </div>
            <div class="card-body">
                <h5 class="card-title">Python course for absolute beginners is here for free.</h5>
                <p class="card-text">With source code included. In this course we will teach from beginners to OOP(Object-oriented programming).</p>
                <a href="#" class="btn btn-primary">Go to course?</a>
            </div>
            <div class="card-footer text-muted">

            </div>
            <div class="card text-center">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <h5 class="card-title">Web development with Django (Python)</h5>
                    <p class="card-text">With source code included. In this course we will build a blog website.</p>
                    <a href="#" class="btn btn-primary">Go to course?</a>
                </div>
                <div class="card-footer text-muted">

                </div>
            </div>

            <div class="card text-center">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <h5 class="card-title">Wanna know what is git and github? and wanna get a git tutorial?</h5>
                    <p class="card-text">Full git tutorial is here!</p>
                    <a href="#" class="btn btn-primary">Go to course?</a>
                </div>
                <div class="card-footer text-muted">

                </div>
            </div>
        </div>
    </div>

    {% endblock body %}